<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Workout Log" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Workout Log" %>">
    <%= include_gon %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons' %>
    <%= stylesheet_pack_tag 'workout' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'workout' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
